<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <!--or <%- include('_header.ejs'); %> -->
        <%- body %>
        <%- include('_footer'); %>
        <!-- or <%- include('_footer.ejs'); %> -->

        <%- script %>
    </body>
</html>

<!-- this page name should me layout.ejs only -->